@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, .heading {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-padding-top: 80px;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}